body {
    font-family: Arial;
    font-weight: normal;
    background-color: darkgray;
}

.clumpPanel {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.isWithPane {
    margin-bottom: 400px;
}

.clumpPanel table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 1px solid #000000;
    table-layout:fixed;
    background-color: white;
}
.clumpPanel td {
    vertical-align: middle;
    word-wrap: break-word;
    border: 1px solid #000000;
    padding: 7px;
    font-size: 10px;
}
.th-0, .col-0 {
    width: 30px;
    text-align: center;
}
.th-1, .col-1 {
    width: auto;
}
.th-2, .col-2 {
    width: 80px;
    text-align: center;
}
.th-3, .col-3 {
    width: 50px;
    text-align: center;
}

.clumpPane {
    position: fixed;
    border: 1px solid black;
    background-color: lightyellow;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    bottom: 0;
    left: -2px;
    width: 100%;
    height: 380px;
}

.paneWrapper {
    padding: 15px;
}
.detailsWrapper > h2 {
    font-size: 16px;
}
.detailsWrapper > h3 {
    font-size: 14px;
}

td.goodCode {
    font-weight: bold;
    color: limegreen;
}
td.badCode {
    font-weight: bold;
    color: darkred;
}
tr.badCode {
    background-color: lightpink;
}
.selectable:hover {
    background-color: cornflowerblue;
    cursor: pointer;
    cursor: hand;
}
.selected {
    background-color: lightblue;
}
tr.badCode.selected {
    background-color: hotpink;
}
.selected.selectable:hover {
    background-color: dodgerblue;
}
tr.badCode.selectable:hover {
    background-color: deeppink;
}

.paneButtons {
    float: right;
    margin: 10px;
}
.closeButton {
    float: right;
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    cursor: hand;
    border: 1px solid black;
    background-color: white;
}
.rawButton {
    margin-right: 10px;
}
.rawDetails {
    white-space: pre;
    display: none;
}